budgetReboot/static/bootstrap-4.4.1-dist/js
virtualenv/
featurns.txt
geckodrive.log
db.sqlite3
*.sqlite3
/budgetReboot/migrations
/budgetReboot/static/bootstrap-4.4.1-dist
/budgetReboot/static/bootstrap.css.map
/budgetReboot/__pycache__
*.pdf
testPDF.py
tst.txt
singlinetst.txt
