<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Famous Budget Application</title>
	
    <link href="\static\bootstrap-4.4.1-dist\css\bootstrap.min.css" rel="stylesheet">
	<link href="\static\base.css" rel="stylesheet">
  </head>	
	

  <body>
    <div class="container">	
		<div class="row">
		
			<div class="alert alert-danger col-md-10 col-md-offset-3" role="alert">
			<div class="text-center">				
				<h1>{% block header_text %}{% endblock %}</h1>
				<h2> <small class="text-muted"> {% block name_text %} {% endblock %} </small></h2>
			</div>				
			</div>
<!---------------------- POST form section -->
			
			<div class="col-md-10 col-md-offset-3 jumbotron">
				<div class="text-center">				
					{% block post_form_header %} {% endblock %} 
					<form method="POST" action="{% block post_form_action %}{% endblock %}">
						{% csrf_token %}
						{% block post_form_item %}{% endblock %}
						{% block post_form_button %}{% endblock %}
					</form>
				</div>
			</div>
			
<!-------------------- GET form section -->
			
			<div class="alert alert-dark col-md-10" role="alert" >	
				{% block get_form_header %} {% endblock %} 
				<form method="GET" action="{% block get_form_action %}{% endblock %}">
					{% csrf_token %}
					{% block get_form_item %}{% endblock %}
					{% block get_form_button %}{% endblock %}
				</form>
			</div>
			
<!-------------------- loop with header section -->
			<div class="alert alert-primary col-md-10">
				<h3 class="display-5"> {% block optional_item2 %}{% endblock %}</h3>
				<h3 class="display-5"> {% block optional_item_header %}{% endblock %}</h3>
				{% block list_loop %} {% endblock %}
			</div>

		</div>
    </div>
  </body>

</html>