{% extends 'budgetReboot/base.html' %}

{% block header_text %} {{ display_cat_name }}{% endblock %}
{% block name_text %} Enter Information {{ display_user_name }} {% endblock %}
{% block post_form_action %}{%  url 'budgetReboot:listcats' display_user_name %}{% endblock %}
{% block post_form_item %}  {{ formy }} {% endblock %}
{% block post_form_button %}<input type="submit" value="add">{% endblock %}

<!-- {% block optional_action %}{%  url 'budgetReboot:listcats' display_user_name %}{% endblock %} -->

<!-- {% block button_two %}<input type="submit" value="add">{% endblock %} -->
