{% extends 'budgetReboot/base.html' %}


{% block header_text %}Category: {{ display_cat.category_name }}{% endblock %}
{% block name_text %} 
	User Name: {{ display_user_name }} 
	
	
{% endblock %}

{% block post_form_header %}<h4> Add New Entry </h4> {% endblock %}
{% block list_link1 %} <a href="{%  url 'budgetReboot:listcats' display_user_name %}">Category List</a> {% endblock %}

{% block post_form_action2 %}{%  url 'budgetReboot:archivelist' display_cat.category_name %}{% endblock %}
{% block post_form_item2 %} 
	{{ archiveform }} 
	<input type="hidden" name="h_users_name" value="{{ display_user_name }}">
{% endblock %}
{% block post_form_button2 %}<input type="submit" value="select date">{% endblock %}
 
 
{% block post_form_action %}{%  url 'budgetReboot:catdetail' display_cat.category_name %}{% endblock %}
{% block post_form_item %}  {{ formy }} {% endblock %}
{% block post_form_button %}
	<input type="submit" value="add">
	<input type="hidden" name="h_users_name" value="{{ display_user_name }}">
{% endblock %}




{% block get_text %}
	Spent on {{ display_cat.category_name }} this month: {{ display_cat_period.monthly_total }} <br />
	Average amount spent per transaction (month): {{ month_avg }} <br />
	Number of transactions: {{ display_cat_period.monthly_entry_count }} <br />
	Average amount spent per transaction (all): {{ all_time_avg }}
{% endblock %} 

{% block list_loop %}

<table>
	{% if display_entries %}
	{% for ent in display_entries %}
		
		<tr><td>
			
			<form method="Post" action=" {% url 'budgetReboot:delentry' ent.id %}">
				<input type="hidden" name="h_users_name" value="{{ display_user_name }}">
				<input type="hidden" name="h_cat_name" value="{{ display_cat.category_name }}">
				<input type="submit" value="delete entry" name="category_detail" id="id_cat_detail">
				
				{% csrf_token %}
			</form>
			
			
			
			<table id="id_inner_entry" class="table">
			<tr>
				<td>Entry Number</td>
				<td>Item</td>
				<td>Amount</td>
				<td>Date</td>
				<td>Notes</td>
			</tr>
			<tr>
				<td>{{ ent.id }} </td>
				<td>{{ ent.cat.cat.category_name }}</td>
				<td>{{ ent.amount }} </td>		
				<td>{{ ent.transaction_date }}</td>	
				<td>{{ ent.entry_note }}  </td>
			</tr>
			</table>
		</td></tr>
		<tr><td><hr class="shadow p-1 mb-3 bg-white rounded" /></td></tr>
	 {% endfor %}
	 {% endif %}

{% endblock %}

<!-- {% block optional_action %}{%  url 'budgetReboot:listcats' display_user_name %}{% endblock %} -->

<!-- {% block button_two %}<input type="submit" value="add">{% endblock %} -->
